.vscode/**
.vscode-test/**
.github/**
node_modules/**
src/**
.gitignore
.yarnrc
.prettierrc
.vscode-test.mjs
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
llm-response.json